body{
	border: 15px solid #5a0e38d1;
	/*border-style: outset;*/
	padding: 70px;
	font-family: 'Merriweather', serif;
	letter-spacing: 1px;
}

h1{
	color: #003366;
	font-size: 45px;
}

.header{
	padding: auto;
}

.para{
	padding-left: 10px;
	font-size: 18px;
}

a{
	color: white;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
}

button{
	float: right;
	background-color: #00adff61;
	box-shadow: 5px -5px 0px 0px #00adff61;
}

h2{
	color: white;
	padding-left: 20px;
	font-family: 'Slabo 27px', serif;
}

p{
	/*width: 90%;*/
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 60px;
}
	
.date{
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 45px;
	font-family: 'Fira Sans', sans-serif;
}

/*.indent{
	border-left: 5px solid #510a37;
	padding-left: 10px;
}*/

.jumbotron1 {
  background: url(https://images.unsplash.com/photo-1524267213992-b76e8577d046?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e3c007d0bc03e2a96c9240299917d54&auto=format&fit=crop&w=1534&q=80)
  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  padding-top: 10em;
  /*color: white;*/
  /*filter: brightness(80%) contrast(80%);*/
 }

 
.jumbotron2 {
  background: url(https://images.unsplash.com/photo-1507856745667-48442b4e5da9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dde11f54fe0c814ca236215c4f33b4b&auto=format&fit=crop&w=1400&q=80)
  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  padding-top: 10em;
  /*color: white;*/
  /*filter: brightness(80%) contrast(80%);*/
 }
 

 .jumbotron3 {
  background: url(https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-0.3.5&s=74197485ae087b16fb4b349d0a10b7fa&auto=format&fit=crop&w=1400&q=80)
  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  padding-top: 8em;
  padding-right: 70px;
  /*filter: brightness(80%) contrast(80%);*/
 }